<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <title>Lyrics</title>
</head>
<body>
    <div class="return__button">
        <a href="/main" class="btn">return</a>
    </div>

    <h1 id="header"><span id="creds"><%= artist %>'s</span> most popular song is <span id="creds"><%= title %></span></h1>

    <div class="main__text-container">
        <div class="main__text">
            <p class="lyrics"><%= lyrics %></p>
        </div>
    </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
      window.onSpotifyWebPlaybackSDKReady = () => {
        const token = 'BQByK2k_6j_FkOfcOb_FLUvso0w5Yx8SSHwGVYVy8V6m3hocUujO7jOCxPRFGOdz0Nnzq04Vey0DIsPfJe3qekr8RdGzycU0tdLg9ZEnhpjI7x86VhbV6gLaEBcvIftR8cwhdjGmBTLxsyvnjrqSjqx7Jp3VwD300WzZ';
        const player = new Spotify.Player({
          name: 'Web Playback SDK Quick Start Player',
          getOAuthToken: cb => { cb(token); }
        });
  
        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => { console.error(message); });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });
  
        // Playback status updates
        player.addListener('player_state_changed', state => { console.log(state); });
  
        // Ready
        player.addListener('ready', ({ device_id }) => {
          console.log('Ready with Device ID', device_id);
        });
  
        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
          console.log('Device ID has gone offline', device_id);
        });
  
        // Connect to the player!
        player.connect();
      };
    </script>
</body>
</html>